*{
    margin: 0;
    padding: 0;
}
#main{
    background-color: yellow;
}
/* div{ */
    /* display: inline; */
    /* padding-top: 10px;
    margin-top: 10px; */
      /* display: none; */
      /* visibility: hidden; */
/* } */

div{
    display: inline-block;
    padding-top: 10px;
    margin-top: 10px;
    border: 2px solid salmon;
    /* display: flex; */
    justify-content: center;
    display: grid;
}